<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>11ty Test Bed</title>
  <meta name="description" content="Test Bed project for learning how to use 11ty">
  <meta name="author" content="Adrian Sandu">
</head>
<body>
	<h1>
		{{ pageTitle }}
	</h1>

    {{ content }}
</body>
</html>
