---
layout: layouts/base.njk
pagination:
  data: collections.articles
  size: 10
  reverse: true
  alias: articles
---

<h1>
	Article Listing: {{ pageTitle }}
</h1>

<hr>
{{ content | safe }}
<hr>

{%- for article in articles %}
	<h2><a href="{{ article.url }}">{{ article.data.pageTitle }}</a></h2>
	<em>{{ article.date | dateReadable }}</em>
{% endfor %}
